* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(16, 15, 15);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.rock,
.paper,
.scisor {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.rock:hover,
.paper:hover,
.scisor:hover {
    background-color: rgba(50, 47, 47, 0.344);
}

h4 {
    font-size: 3rem;
    font-weight: bolder;
}

.game-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game-result {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(61, 57, 57, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.game-model-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 14, 14, 0.624);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
}

.game-model-container.active{
    display: none;
}

.game-model-container .game-model {
    width: 80%;
    height: 200px;
    background-color: rgba(35, 33, 33, 0.678);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
}


.game-result:hover {
    background-color: rgba(33, 31, 31, 0.678);
}

.game-result #gameResult {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

.winners {
    font-size: 2.5rem;
    color: rgb(253, 215, 0);
}

.userchoices {
    color: rgb(0, 253, 0);
    font-size: 2.5rem;
}

.computerchoices {
    font-size: 2.5rem;
    color: rgb(0, 253, 0);
}